
# added by GitSavvy
/.DS_Store

# added by GitSavvy
test-data-file-*.csv

# added by GitSavvy
training-data-file-*.csv

# added by GitSavvy
output-file-*.csv

# added by GitSavvy
__pycache__/

# added by GitSavvy
validation-data-file-*.csv
